html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.nav{
	width: 100%;
	height: 20px;
	margin-bottom: 5%;
	background-color: #FFFFFF;
}

.links {
	float: right;
	text-align: center;
	margin-right: 100px;
	font-size: 16px;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.links a{
	padding: 8px;
}

strong{
	color: #000000;
}
li{
	overflow: hidden;
	list-style-type: none;
	float: left;
	display: inline-block;
	margin: 20px;
	margin: 0; /* Introducing Karma text moves to the left if this is deleted but than "list" styles are crunched together. WHY is the karm page being effected by list styles??*/
	padding: 0; /* cannot edit spacing without effecting Karma text*/
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}



.logo{
	width: 4%;
	margin-left: 20%;
	display: inline-block;

}


.content-intro{
	background: url('../img/first-background.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 0 bottom;
	height: 40rem;

}


.content h1{
	font-size: 3.125rem;
	margin-top: 12rem;
}

.content h1,
.content h3{
	color: white;
	text-align: center;
	font-weight: 300;
}


.content{
	overflow: hidden;
	width: 100%;
	text-align: center;
}

button{
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	width: 9.688rem;
	background-color: #f15a29;
	color: white;
	font-size: 1.125rem;
	display: inline-block;
	margin: 0 auto;
	margin-top: 3%;
	cursor: default;

}

button:hover{
	background-color: #d8400e;
}

.content-about{
	margin: 0 auto;
	color: #000000;
	text-align: center;
	width: 100%;
/*	height: 30rem;*/

}

.cases{
	text-align: center;

}

.devices{
	margin: 0 auto;
	padding: 0;
}



.devices li{
	padding: 30px;
	float: none;
}

.devices img{
	height: 200px;
}

.icons{
	display: inline-block;
	margin: 0 auto;
	color: #000000;
	text-align: center;
	padding: 0;
	
}


.content-social{
	width: 100%;
	color: #000000;
	text-align: center;
	
}
.fa-stack{
	border: solid;
	border-color: #000000;
	margin: 10px; 
	border-radius: 10px;

}

.copy{
	margin-left: 0 auto;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 20px;
}
a:link{color: #808080;
text-decoration: none;
} /*a normal, unvisited link*/
a:visited{color: #808080;
text-decoration: none;}/*- a link the user has visited*/
a:hover{color: #000000;
text-decoration: none;} /*- a link when the user mouses over it*/
a:active{color: #808080;
text-decoration: none;}/* - a link the moment it is clicked*/


@media (max-width: 1220px) {
	.logo {
		margin-left: 3%;
	}

	.content-intro{
	height: 38rem;
	}

	.links a{
	padding: 2px;
	}
	
	

}

@media (max-width: 768px) {
	.links {
		margin-right: 50px;
	}
	
	.devices img{
		width: 80%;
		height: 150px;
	}
	.devices h3{
		font-size: 14px;
	}
	.devices li{
		padding: 10px;
	}
}

@media (max-width: 650px) {
	.links{
		font-size: 12px;
	}
	.devices img{
		width: 60%;
		height: 100px;
	}
	.devices h3{
		font-size: 12px;
	}
	.devices li{
		padding: 10px;
	}
}

@media (max-width: 540px) {
	.links{
		font-size: 10px;
		margin: 0px;
	}
	.devices img{
		width: 80%;
		height: 130px;
	}
	.devices h3{
		font-size: 14px;
	}
	.devices li{
		padding: 5px;
		display: block;
	}
}